<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mnemo.pietro.mnemosyne" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MnemoCentral"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateDictionnaryActivity"
            android:label="@string/title_activity_create_dictionnary"
            android:parentActivityName=".MnemoCentral" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mnemo.pietro.mnemosyne.MnemoCentral" />
        </activity>
        <activity
            android:name=".CreateCatalogueActivity"
            android:label="@string/title_activity_create_catalogue"
            android:parentActivityName=".MnemoCentral" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mnemo.pietro.mnemosyne.MnemoCentral" />
        </activity>
        <activity
            android:name=".ListOfCatalogueActivity"
            android:label="@string/title_activity_list_of_catalogue"
            android:parentActivityName=".MnemoCentral" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mnemo.pietro.mnemosyne.MnemoCentral" />
        </activity>
    </application>

</manifest>
